<nav class="navbar navbar-expand-lg navbar-light bg-light ">
	<a class="navbar-brand" href="{{path('app_login')}}">Home</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">

		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="#">Login</a>
			</li>
			<li class="nav-item">

				<a class="btn text-success" href="#" onclick="event.preventDefault();document.getElementById('js-logout-form').submit();">
					logout
				</a>

				<form id="js-logout-form" action="{{path('app_logout')}}" method="POST" style="display: none">
					<input type="hidden" name="_csrf_token" value="{{csrf_token('logout')}}">
				</form>
			</li>
		</ul>
	</div>
</nav>
